{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/destinations/destination-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="card-container">
  {% for destination in destinations %}
    <a href="{% url "destination-detail" destination.id %}">
      <div class="card" style="background-image: url({{ destination.image_url }})">
        <div class="card-content" >
          <h2>{{ destination.name }}</h2>
        </div>
      </div>
    </a>
  {% endfor %}
</section>


{% endblock %}