.card {
  margin: 1rem;
  box-shadow: var(--card-box-shadow);
  background-color: #14213D;
  border-radius: var(--card-border-radius);
  color: var(--text-color);
}

.card-content {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  aspect-ratio: 4/3;
}

.img-container img {
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.second-half {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.card-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

label {
  font-size: small;
  font-style: italic;
}

h3 {
  margin: 0.5rem 1rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}






